@model LetterKnowledgeAssessment.Models.Pupil
@using Microsoft.Extensions.Localization
@inject IStringLocalizerFactory LocalizerFactory

@{
    var Localizer = LocalizerFactory.Create("Strings", "LetterKnowledgeAssessment");
}

<div class="modal fade" id="removePupilModal-@Model.PupilId.ToString()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark-primary">
                <h5 class="modal-title light-green">@Localizer["DeleteAccount"]</h5>
                <button type="button" class="btn float-end navbar-text-light-green" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <form asp-area="ClassManagement" asp-page="/Pupils/Remove" asp-route-pupilid="@Model.PupilId.ToString()" method="post">
                <div class="modal-body">
                    <div class="text-muted font-weight-lighter" style="font-size: .9rem;">
                        <p>
                            @Localizer["DeletePupilAndTests"]
                            <br /><br />
                            <b>@Localizer["SureAboutDeletion"] @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) @Localizer["FromClass"]</b>?
                            <br />
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-danger">@Localizer["DeletePupil"]</button>
                </div>
            </form>
        </div>
    </div>
</div>